<% errors = resource.errors %>

<% if errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <div class="lead buffer-bottom">
        <%= I18n.t('errors.messages.not_saved',
                   count: errors.count)
        %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul>
        <% errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
