<h1 class="mt-4">События</h1>

<div class="mt-1 mb-4">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-success' %>
</div>

<div class="row">
  <%= render partial: 'events/event', collection: @events %>
</div>
