<h2 class="buffer-bottom-xl">Инструкция по удалению данных</h2>

<p>Для удаления учетной записи и всех Ваших данных пройдите в свой профиль и нажимайте последовательно следующие
  кнопки:</p>

<ol class="buffer-both">
  <li>"Редактировать профиль"</li>
  <li>"Сменить пароль"</li>
  <li>"Удалить учетную запись"</li>
</ol>

<p>После произведенных действий Ваша учетная запись и все данные будут удалены с сервера.</p>

<%= link_to "На главную", events_path %>
