<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Сообщаем, что ваш адрес электронной почты меняется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Сообщаем, что ваш адрес электронной почты был изменен на <%= @resource.email %>.</p>
<% end %>
