<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокирован из-за чрезмерного количества неудачных попыток входа.</p>

<p>Перейдите по ссылке для разблокировки аккаунта:</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token) %></p>
